.container {
    height: 100vh;
    width:100vw;
    background-color:aqua
}
.list-container {
    width: 260xpx;
    max-width: 260px;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-container {
    display:block; 
    box-sizing:border-box; 
    width:260px; 
    height:125px; 
    border:1px solid; border-color:gray; border-radius:3px; position:relative;
}

.card-container > div {

}

.modal {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 500;
}

.back-ground {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up {
    height: 500px;
    width: 500px;
    background-color: red;
}